@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body{
  background-color: #ff9898;
}

button{
  padding: 10px;
  border-radius: 16px ;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgb(253, 228, 190);
  font-family: 'Prompt', sans-serif;
  transition: 0.2s;
  font-weight: 500;
  margin: 50px 70px;
}

button:hover{
padding: 13px;
border-radius: 20px;
}